/* ///////////////////////////////////////////////// 
/// demo_one
////////////////////////////////////////////////////*/
.outter_div {
    background-color: #2A3E5D;
    color: white;
    height: 130px;
    padding: 2px 16px;
    display: table;
    width: 98%;
}

.inner_div {
    display: table-cell;
    vertical-align: middle;
}

.div_content {
    margin-top: 30px;
}

@keyframes hover_change_button {
    from {
        background-color: white; 
    } to {
        background-color: red;
    }
}

#demo_one_button {
    background: #e8e8e8;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    position: relative;
    transition: background-color 0.5s ease-out;
}

#demo_one_button:hover {
    animation: hover_change_button 0.8s 0s infinite alternate;
}


/* ///////////////////////////////////////////////// 
/// demo_two
////////////////////////////////////////////////////*/

#square_div {
    position: absolute;
    width: 300px;
    height: 80px;
    background: gray;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slide_in {
    animation: slide_in 0.5s forwards;
    -webkit-animation: slide_in 0.5s forwards;
}

.slide_out {
    animation: slide_out 0.5s forwards;
    -webkit-animation: slide_out 0.5s forwards;
}
    
@keyframes slide_in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide_in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide_out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide_out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

/* ///////////////////////////////////////////////// 
/// demo_three
////////////////////////////////////////////////////*/
.loader_div {
    border: 16px solid gray;
    border-top: 16px solid red; 
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1.5s linear infinite;
    position: absolute;
    left: 50%;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
